/*General starts*/
body {
    font-family: Raleway, 'Handlee', cursive;
    font-size: 13pt;
    background-color: #bfbfbf;
    padding: 10px;
}
.section {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 1px;
  }
h1 {
  font-family: Raleway;
  font-size: 15pt;
  color: #233;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
  }
h1 span {
  border: 2px dashed #333;
  padding: 10px;
  }
p {
  padding: 0;
  margin: 0;
  font-size: 14pt;
  }
strong{
  font-weight: bold;

}
/*ends*/

/*header starts*/
#header {
  z-index: 1;
  background-image: url("");
  background-size: cover;
  background-color: #8000FF;

  }
#header img {
  border: 2px solid #FFFF00;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
  }
#header p {
      font-size: 25pt;
      color: #fff;
      padding-top: 5px;
      margin: 0;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
  }
.img-circle {
  position: absolute;
  top: 90px;
  right: 47.2%;
  background-color: #888;
  z-index: 2;
  }
  .grid-6{
    float: left;
    width: 16% !important;
    margin-left: 0;
    height: 200px;
    border-right: 1px solid #8333FF;

  }

  .Zamora{
    margin-left: 1.5%;
    background-image: url("https://files.slack.com/files-pri/T47CT8XPG-FG511CMB4/20161222_224742.jpg");
    background-size: cover;
  }

  .Santi{
    background-image: url();
    background-size: contain;
  }

  .Adriaan{
    background-image: url("https://files.slack.com/files-pri/T47CT8XPG-FG04HPETV/ab-portrait.jpg");
    background-size: cover;
  }

  .Maya{
    margin-left: 1%;
    background-image: url("https://files.slack.com/files-pri/T47CT8XPG-FG4GN3YDN/casual-headshot-2.jpg");
    background-size: cover;
  }

  .Bless{
    background-image: url();
    background-size: cover;
  }

  .Mumani{
    background-image: url("https://files.slack.com/files-pri/T47CT8XPG-FFZNX4F63/elvis_passport.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: right;
  }
/*ends*/

/*Intro starts*/

/*ends*/

/*'Featured Intern trainee' starts*/
#featured-student{
  height: 500px;
}
/*ends*/

/*Contact Us starts*/
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #888;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #555;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #bfbfbf;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
/*ends*/


/*'Social Links' starts*/
#contacts{
  background-color: #3030CF;

}
#contacts h1{
  color: #fff;

}
#contacts h1 span{
  border: 2px dashed #eee;
}
#social-icons a img{
  margin: 10px;
  height: 32px;
  color: #fff;
}
/*ends*/


/*starts*/
/*ends*/
